/*- CSS stylesheet */

/*- style.css ~~
 *                                                      ~~ (c) SRW, 20 Jul 2012
 */

a {
    border-bottom: 1px dotted;
    color: inherit;
    text-decoration: none;
}

a:hover {

    border-bottom: 1px solid;
    color: blue;

}

a img {

 /* See post at http://stackoverflow.com/questions/9060763#10860101. */

    border: 1px solid white;
    vertical-align: top;

}

a img:hover {

    border: 1px solid blue;

}

body {

    color: black;
    font-family: "Verdana";
    padding: 1em;

}

div {

    margin-top: 1em;
    margin-bottom: 1em;

}

h1 {

    font-size: 150%;

}

noscript {

    color: red;

}

.inline-code {

    color: navy;
    font-family: monospace;
    white-space: pre;

}

/*- vim:set syntax=css: */
